<section class="section section--animated gallery" id="media">
    <div class="container">
        <div class="section__content">
            <div class="section__title">
                <h2>{{ data.mediaTitle }}</h2>
            </div>
            <div class="gallery__content">
                <div class="gallery__row">
                    {% for item in main.gallery %}
                    <a href="../../img/moscow/{{ item.image }}" class="gallery__link" data-fancybox="images">
                        <img src="../../img/moscow/{{ item.image }}" alt="" class="gallery__image">
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>