<!DOCTYPE html>
<html lang="{{data.lang}}">

<head>
    <meta charset="UTF-8">
    <meta name="Robots" content="INDEX, FOLLOW">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
    <link rel="stylesheet" href="../../fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jquery.fancybox.min.css">
    <link rel="icon" href="../../img/favicon.ico">
    <link rel="stylesheet" href="../../css/main.css?{{version}}">
    <title>Bright Delight</title>
</head>

<body>

<div class="preloader">
    <div class="preloader__logo">
        <img src="../../img/preloader.png" alt="" class="preloader__pic">
        <div class="preloader__text"></div>
    </div>
</div>

{% block content %}

{% endblock %}

<div class="mobile-bg"></div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="../../plugins/jquery.fancybox.min.js"></script>
<script src="../../js/main.min.js"></script>
</body>

</html>