.video__wrapper {
    position: relative;
    width: 100%;
    height: 580px;
    border: 20px solid rgba(244, 240, 241, .6);
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #000;
    @include desktop {
        height: 460px;
    }
    @include phones {
        border: 10px solid rgba(244, 240, 241, .6);
        height: 200px;
    }
}

.video__front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include tablets {
        display: none;
    }
}

.play__btn {
    z-index: 5;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 70px;
    border: 2px solid $yellow;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    color: $yellow;
    text-transform: uppercase;
    @include tablets {
        display: none;
    }
}

.iframe {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include tablets {
        display: block;
    }
}

.videos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include phones {
        flex-direction: column;
    }
}

.video__item {
    flex: 0 0 48%;
    position: relative;
    @include phones {
        margin-bottom: 20px;
    }
}

.video__post {
    width: 100%;
    height: 320px;
    @include middle {
        height: 265px;
    }
    @include tablets {
        height: 180px;
    }

}

.video__poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    text-decoration: none;
    transition: .3s;
    &:hover {
        background-color: rgba(0, 0, 0, .3);
    }

}

.video__title {
    color: #fff;
    font-size: 22px;
    letter-spacing: 3px;
    @include phones {
        font-size: 16px;
    }
}

.poster__pic {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.video__icon {
    color: #fff;
    font-size: 44px;
}

.video__btn {
    text-align: center;
    margin-top: 40px;
}
